<!-- * * * * * * * * * * * Navbar * * * * * * * * * * * -->
<section>
  <nav class="px-2 sm:px-4 py-2.5">
    <div class="container mt-10">
      <div class="mr-40">
        <ul
          class="flex justify-end w-full p-4 mt-4 md:flex-row md:space-x-8 md:mt-0 md:text-sm md:font-bold md:border-0 md:bg-transparent">
          <li>
            <a href="#about" class="py-2 pr-4 pl-3">About</a>
          </li>
          <li>
            <a href="#" class="py-2 pr-4 pl-3">Skills & Experience</a>
          </li>
          <li>
            <a href="#" class="py-2 pr-4 pl-3">Projects</a>
          </li>
          <li>
            <a href="#" class="py-2 pr-4 pl-3">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</section>

<!-- * * * * * * * * * * * About Section * * * * * * * * * * * -->
<section id="about">
  <div class="container mx-auto py-5">
    <div class="flex">
      <div class="mx-auto w-2/4">
        <img src="../assets/img/a.png" alt="Profile Picture" class="w-60 imgFrame float-right"
          style="margin-right:1rem;" />
      </div>
      <div class="w-2/4 pt-28 ml-8">
        <span class="text-4xl font-black text-teal-900">Hey! I am</span>
        <br /><br />
        <span class="text-4xl font-extrabold">Rahul Sarma</span>
        <br /><br />
        <span style="font-family: 'Pacifico', cursive;">Software Engineer at Larsen & Toubo Infotech</span>
      </div>
    </div>
    <div class="px-10 flex justify-end space-x-8 mt-8 mr-48">
      <div class="download-btn">
        <button class="font-semibold py-0 px-4 mt-6 border border-amber-900 rounded-full inline-flex items-center">
          <svg class="fill-current w-4 h-4 mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
            <path d="M13 8V2H7v6H2l8 8 8-8h-5zM0 18h20v2H0v-2z" />
          </svg>
          <span>Download Resume</span>
        </button>
      </div>

      <a class="hover-fx" href="">
        <i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i>
      </a>

      <a class="hover-fx" href="">
        <i class="fa fa-github-square fa-2x" aria-hidden="true"></i>
      </a>

      <a class="hover-fx" href="">
        <i class="fa fa-hacker-news fa-2x" aria-hidden="true"></i>
      </a>

      <a class="hover-fx" href="">
        <i class="fa fa-whatsapp fa-2x" aria-hidden="true"></i>
      </a>
    </div>
  </div>
</section>

<!-- * * * * * * * * * * * Education Skills Experience* * * * * * * * * * * -->
<section id="skills" class="my-10">
  <div class="container mx-auto py-5 flex sklExpBorder">
    <!-- Education -->
    <div class="w-3/6 py-10 sklExpDivider">

      <div class="text-4xl text-center mb-10 ml-28">
        <i class="fa fa-graduation-cap" aria-hidden="true"></i>
        Education
      </div>

      <div class="flex text-center ml-28">
        <div class="w-2/5">
          <div class="text-3xl font-bold">2016 - 2019</div>
          <div class="text-1xl font-semibold">Dibrugarh University</div>
        </div>

        <div class="w-8">
          <span class="education__rounder"></span>
          <span class="education__line"></span>
        </div>

        <div class="">
          <div class="text-3xl font-bold">Master Degree</div>
          <div class="text-1xl font-semibold">Master of Computer Application</div>
        </div>
      </div>
      <br />
      <div class="flex text-center ml-28">

        <div class="w-2/5">
          <div class="text-3xl font-bold">2012 - 2015</div>
          <div class="text-1xl font-semibold">Gauhati University</div>
        </div>

        <div class="w-8">
          <span class="education__rounder"></span>
          <span class="education__line"></span>
        </div>

        <div class="">
          <div class="text-3xl font-bold">Bachelor Degree</div>
          <div class="text-1xl font-semibold">Bachelor of Computer Application</div>
        </div>
      </div>
    </div>

    <!-- Experience -->
    <div class=" w-3/6 py-10">
      <div class="text-4xl text-center mb-10 mr-28">
        <i class="fa fa-briefcase" aria-hidden="true"></i>
        Work Experience
      </div>

      <div class="flex">
        <div class="w-1/5 px-4">
          <img class="mr-2 mt-2 ml-3" src="../assets/img/LTI-logo.png" />
        </div>
        <div class="w-4/5 py-1 px-2">
          <ul>
            <li>Software Engineer</li>
            <li>LTI - Larsen & Toubro Infotech · Full-time</li>
            <li>Sep 2022 - Present · 2 mos</li>
            <li>Kolkata, West Bengal, India</li>
          </ul>
        </div>
      </div>

      <hr class="w-4/6 mx-auto h-0.5 opacity-20 border-none bg-black" />

      <div class="flex py-2">
        <div class="w-1/5 px-4">
          <img class="mr-2 mt-2 ml-3" src="../assets/img/bogos-logo.png" />
        </div>
        <div class="w-4/5 py-1 px-2">
          <ul>
            <li>Full-stack Developer</li>
            <li>Borgos Technologies Pvt Ltd · Full-time</li>
            <li>Aug 2021 - Aug 2022 · 1 yr 1 mo</li>
            <li>Guwahati, Assam, India</li>
          </ul>
        </div>
      </div>

      <hr class="w-4/6 mx-auto h-0.5 opacity-20 border-none bg-black" />

      <div class="flex py-2">
        <div class="w-1/5 px-4">
          <img class="mr-2 mt-2 ml-3" src="../assets/img/boldtek-logo.png" />
        </div>
        <div class="w-4/5 py-1 px-2">
          <ul>
            <li>Software Developer</li>
            <li>BoldTek India Pvt Ltd · Full-time</li>
            <li>Sep 2019 - Jul 2021 · 1 yr 11 mos</li>
            <li>Guwahati, Assam</li>
          </ul>
        </div>
      </div>

      <hr class="w-4/6 mx-auto h-0.5 opacity-20 border-none bg-black" />

      <div class="flex py-2">
        <div class="w-1/5 px-4">
          <img class="mr-2 mt-2 ml-3" src="../assets/img/robotech-logo.png" />
        </div>
        <div class="w-4/5 py-1 px-2">
          <ul>
            <li>Intern</li>
            <li>RoboTech Pvt. Ltd. · Internship</li>
            <li>an 2019 - May 2019 · 5 mos</li>
          </ul>
        </div>
      </div>

    </div>
  </div>
</section>

<section>
  <h1>Projects</h1>
</section>

<section>
  <h1>Contact</h1>
</section>