<!-- * * * * * * * * * * * Menu * * * * * * * * * * * -->
<section>
  <nav class="px-2 sm:px-4 py-2.5">
    <div class="container mt-10">
      <div class="mr-40">
        <ul
          class="flex justify-end w-full p-4 mt-4 md:flex-row md:space-x-8 md:mt-0 md:text-sm md:font-medium md:border-0 md:bg-transparent">
          <li>
            <a href="#" class="py-2 pr-4 pl-3">About</a>
          </li>
          <li>
            <a href="#" class="py-2 pr-4 pl-3">Education & Experience</a>
          </li>
          <li>
            <a href="#" class="py-2 pr-4 pl-3">Skills</a>
          </li>
          <li>
            <a href="#" class="py-2 pr-4 pl-3">Projects</a>
          </li>
          <li>
            <a href="#" class="py-2 pr-4 pl-3">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</section>

<section>
  <h1>About</h1>
</section>

<section>
  <h1>Edication & Experience</h1>
</section>

<section>
  <h1>Projects</h1>
</section>

<section>
  <h1>Contact</h1>
</section>