/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    /* text colors */
    --text-color: #2D220E;
    --text-color-light: #a57f3a;
    --text-sectionHeaderColor: #3B1212;

    /* background colors */
    --bg-primary-color: #E3A342;
    --bg-secondary-color: #92400E;
    --bg-lighten-color:rgba(223, 196, 160, 0.7);
    --bag-icon-color: #e9b05a;

    /* icon outline color */
    --icon-outline-color: #00989A;

    /* font */
    /* --body-font: 'Poppins', sans-serif; */
    --body-font: 'Fuzzy Bubbles', cursive;
    }

/* base */

*,
::before,
::after {
  box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}
  

body{
    color: var(--text-color);
    background-color: var(--bg-primary-color);
    font-family: var(--body-font);
    font-weight: 700;
}

input::placeholder, textarea::placeholder {
  color: var(--bg-secondary-color);
  opacity: 0.7;
}
a:hover {
  color: var(--bg-secondary-color);
  text-decoration: none;
}

/* image frame */
@property --gap{
    syntax: '<length>';
    inherits: true;
    initial-value: 0;
}
@property --angle{
    syntax: '<angle>';
    inherits: true;
    initial-value: 0deg;
}

.imgFrame {
    --border: 15px;
    --gap: 15px;
    --color: #0B486B;
    
    width: 220px;
    aspect-ratio: 1;
    box-sizing: border-box;
    border-radius: 50%;
    margin: 60px 0px 0px 20px;
    cursor: pointer;
    padding: calc(var(--border) + var(--gap));
    
    --angle: 90deg;
    background:
      radial-gradient(farthest-side,var(--color) 97%,#0000 101%) 85.35% 85.35%,
      conic-gradient(from calc(180deg - var(--angle)/2),#0000 var(--angle),var(--color) 0),
      radial-gradient(farthest-side,var(--color) 97%,#0000 101%) 14.65% 85.35%;
    background-size: var(--border) var(--border),auto;
    background-repeat: no-repeat;
    
    -webkit-mask:
      radial-gradient(farthest-side, 
       #000  calc(99%  - calc(var(--border) + var(--gap))),
       #0000 calc(100% - calc(var(--border) + var(--gap))) 
             calc(99%  - var(--border)), 
       #000  calc(100% - var(--border)));
            mask:
      radial-gradient(farthest-side, 
       #000  calc(99%  - calc(var(--border) + var(--gap))),
       #0000 calc(100% - calc(var(--border) + var(--gap))) 
             calc(99%  - var(--border)), 
       #000  calc(100% - var(--border)));
    transition: --angle .4s,--gap .4s;
  }
  .imgFrame:hover {
    --angle: 0deg;
    --gap: 5px;
  }

/* icon hover effect */
.hover-fx {
    font-size: 30px;
    display: inline-block;
    cursor: pointer;
    width: 65px;
    height: 65px;
    line-height: 84px;
    border-radius: 50%;
    text-align: center;
    position: relative;
    color: var(--text-color);
    transition: 300ms;
  }
  
  .hover-fx:after {
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    content: '';
    box-sizing: content-box;
    box-shadow: 0 0 0 3px var(--text-color);
    top: 0;
    left: 0;
    opacity: 0;
    transition: 300ms;
  }
  
  .hover-fx:hover {
    color: var(--icon-outline-color);
  }
  
  .hover-fx:hover:after {
    opacity: 1;
    transform: scale(1.15);
  }

.download-btn :hover{
    color: #fafbfc;
    transition: 300ms;
    background-color: var(--bg-secondary-color);
}

/* Sills & Experience */
.sklExpBorder{
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
  background-color: transparent;
  border: .5rem solid var(--bg-secondary-color);
  box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
}

.sklExpDivider{
  border-right: 3px solid var(--bg-lighten-color);
  border-radius: 255px 150px 225px 13px/15px 225px 200px 255px;
}

.education__rounder {
  position: relative;
  display: inline-block;
  width: 12px;
  height: 12px;
  background-color: var(--text-color);
  border-radius: 50%;
}

.education__rounder::before {
  content: "";
  position: absolute;
  transform: translate(-4px, -4px);
  width: 20px;
  height: 20px;
  border: 1px solid var(--text-color);
  border-radius: 50%;
  margin-left: -6px;
}

.education__line {
  display: block;
  height: 55%;
  width: 2px;
  background-color: var(--text-color);
  transform: translate(15px, -2px);
}

/* section header */
.section__header{
  border-color: var(--bg-secondary-color);
  border-radius: 50%;
}

/* Projects */
.project__wrapper{
  box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
  border-color: var(--bg-secondary-color);
}

.card-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 16px;
}

.card-container .card:not(:last-child) {
  margin-right: 0;
}

.card-container .card:not(.highlight-card) {
  cursor: pointer;
}

.card-container .card:not(.highlight-card):hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
}

.card-container .card:not(.highlight-card):hover .material-icons path {
  fill: rgb(105, 103, 103);
}

.card{
  all: unset;
  border-radius: 4px;
  border: 1px solid var(--bag-icon-color);
  width: 200px;
  margin: 0 8px 16px;
  padding: 16px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
  line-height: 24px;
}

.works__img {
  position: relative;
  overflow: hidden;
  border-radius: 0.5rem;
}

.works__img:hover .works__data {
  bottom: 0;
}

.works__data {
  position: absolute;
  bottom: -100%;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--bag-icon-color);
  opacity: 0.7;
  transition: 0.3s;
  font-weight: 700;
}

/* social icon */
.social__icon{
  cursor: pointer;
  border-radius: 50%;
}
.social__icon:hover{
  transform: translateY(-3px);
  box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
}